body
	background rgb(238, 238, 238)
	font-size 16px
	margin 0 10%
	width 80%
header 
	height 70px
	background #F7F7F7
	border-bottom 3px solid #D8DF50
	width 100%
nav
	float right
	margin-top 10px
	ul
		li
			margin 0 10px
			a
				color #424242
				font-size 17px
				text-decoration none
.header_logo
	img
		height 70px
.inline
	display inline-block
	vertical-align top
				